<form>
    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Turma" formControlName="turma">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Situação" formControlName="situacao">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nota 1" formControlName="nota1">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nota 2" formControlName="nota2">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Trabalhos" formControlName="Trabalhos">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prova final" formControlName="pvfinal">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Media" formControlName="media">
    </mat-form-field>
</form>
